<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.braincapture.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6B8F8B11-1E4F-4B9F-9A1C-5B6E4A62D9D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1B95A5E-3A10-4D0A-9C1C-0D0E74B6C1B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1B95A5E-3A10-4D0A-9C1C-0D0E74B6C1B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D9C4B3D-32BB-4E8B-9C26-94E6C2E1A3A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brain Capture</string>
	<key>description</key>
	<string>Capture clipboard into a local vault using OpenAI Structured Outputs.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brain Capture</string>
	<key>version</key>
	<string>1.0</string>
	<key>variables</key>
	<dict>
		<key>OPENAI_API_KEY</key>
		<string></string>
	</dict>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>br</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "${alfred_preferences}/workflows/${alfred_workflow_uid}" &amp;&amp; python3 -m brain_capture alfred-menu</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Brain Capture</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B8F8B11-1E4F-4B9F-9A1C-5B6E4A62D9D1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "${alfred_preferences}/workflows/${alfred_workflow_uid}" &amp;&amp; python3 -m brain_capture run "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1B95A5E-3A10-4D0A-9C1C-0D0E74B6C1B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Brain Capture</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2D9C4B3D-32BB-4E8B-9C26-94E6C2E1A3A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>6B8F8B11-1E4F-4B9F-9A1C-5B6E4A62D9D1</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>F1B95A5E-3A10-4D0A-9C1C-0D0E74B6C1B7</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>2D9C4B3D-32BB-4E8B-9C26-94E6C2E1A3A7</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>
